# Dependency directory
node_modules
# Debug log from npm
npm-debug.log
# Environment variables
.env
tweets_seeds.json
tweets_seeds_bitcoin.json

#Production & development
.env.development
.env.production